.newsName {
  text-align: center;
  font-size: 450%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Navbar {
  text-align: center;
  position: sticky;
  font-size: xx-large;
}

.NavbarLink {
  padding: 25px;
  color: black;
}